[project]
	description = My Vim configuration
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dale Tristram (Uvedale)
[access "refs/for/refs/*"]
	read = group user/Dale Tristram (Uvedale)
	push = group user/Dale Tristram (Uvedale)
	label-Code-Review = -2..+2 group user/Dale Tristram (Uvedale)
	label-Verified = -1..+1 group user/Dale Tristram (Uvedale)
	rebase = group user/Dale Tristram (Uvedale)
	removeReviewer = group user/Dale Tristram (Uvedale)
	submit = group user/Dale Tristram (Uvedale)
[access "refs/heads/*"]
	read = group user/Dale Tristram (Uvedale)
	create = group user/Dale Tristram (Uvedale)
	push = +force group user/Dale Tristram (Uvedale)
	pushMerge = group user/Dale Tristram (Uvedale)
[access "refs/tags/*"]
	push = group user/Dale Tristram (Uvedale)
	push = +force group user/Dale Tristram (Uvedale)
